@media screen and (max-width: 600px) {
    .div1{
        flex-direction: column;
      
    }
    .first2 nav{
        flex-direction: row;
        justify-content: center;
        
    }
    a{
        margin-right: 20px;
    }
    .div1{
        justify-content:center;
        align-items: center;
    }
    body{
        height: 600vh;
    }
 }